/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}

/* Ensure consistent placeholder styling, including for Ant Design password inputs */
.ant-input::placeholder,
.ant-input-password input::placeholder {
  color: #9CA3AF !important; /* This matches Tailwind's gray-400 */
}

/* Dark mode styles for Ant Design Modal */
.dark .ant-modal-content,
.dark .ant-modal-header {
  background-color: #1F2937 !important; /* gray-800 */
  color: #FFFFFF !important;
}

.dark .ant-modal-title {
  color: #FFFFFF !important;
}

.dark .ant-modal-close-x {
  color: #FFFFFF !important;
}



/* for input field */
.ant-form-item-has-error .ant-input,
.ant-form-item-has-error .ant-input-affix-wrapper {
  background-color: #1a202c !important; /* Tailwind's bg-gray-900 */
  color: #ffffff !important; /* Tailwind's text-white */
}

.ant-form-item-has-error .ant-input:focus,
.ant-form-item-has-error .ant-input-affix-wrapper:focus {
  background-color: #1a202c !important; /* Tailwind's bg-gray-900 */
  color: #ffffff !important; /* Tailwind's text-white */
}

.ant-form-item-has-error .ant-input:placeholder,
.ant-form-item-has-error .ant-input-affix-wrapper:placeholder {
  color: #a0aec0 !important; /* Tailwind's text-gray-400 */
}